.formm {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  padding: 20px;
}

input, select, button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0; 
}

button {
  background-color: rgb(250, 255, 91);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: auto;
}

.main {
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(250, 213, 103);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
body{
    background-color: bisque;
}
h1{
    margin-left: 16px;
}
